.frame{
    box-sizing: border-box;
    width: 289px;
    height: 676px;
    border: 1px solid #C3FCC2;
    border-radius: 5px;
    margin-top: -42.25em;
    margin-left: 31em;
    margin-bottom: 1.5em;
}

.text{
    margin-left: 0.5em;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    color: #C0FFCA;
}

.macro_events{
    list-style-type: none;
    overflow: hidden;
    margin-top: -1.5em;
}

.macro_events li{
    list-style-type: none;
    box-sizing: border-box;
    width: 255px;
    height: 130px;
    background: #EBFFE8;
    border: 1px solid #C3FCC2;
    margin-top: 1.75em;
    margin-left: 1em;
}

.events_container{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #577A60;
    margin-top: 1.5em;
    text-align: center;
}