.container{
    width: 8.75em;
    height: 3.375em;
    border-radius: 3.125em;
    background: #76767638;
    margin-top: 3em;
}

.circle{
    width: 2.125em;
    height: 2.125em;
    background: #86BF8C;
    border-radius: 100%;
    position:relative;
    left: 0.35em;
    top: 0.5em;
}

.comp_name{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125em;
    text-align: center;
    color: #FFFFFF;
    position:relative;
    left: 0.5em;
    top: -1.5em;
}

.return_rate{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    color: #C9FFD1;
    position:relative;
    left: 0.5em;
    top: -1.75em;
}