.input_name{
    display: block; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    margin-top: 0.25rem; 
    width: 100%; 
    border-radius: 0.25rem; 
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) 
}

.input_name:focus{
    border: 2px solid #577A60;
}