.container{
    margin-top: 10em;
    width: 100%;
}

.top_container{
    width: 100%;
}

.comp_logo{
    width: 50px;
    height: 50px;
    background: #C9FFD1;
    border-radius: 100px;
}

.comp_logo p{
    font-weight: 500;
    font-size: 32px;
    margin-top: 0.35em;
    margin-left: 0.3em;
    color: #577A60;
}